package pages

templ About() {
	<head>
		<title>Tarta - About</title>
	</head>
	<div class="container mx-auto px-5 py-8">
		<h1>About page content</h1>
		<button class="font-bold underline" hx-get="/" hx-swap="innerHTML" hx-target="#main-content">Go to Home</button>
	</div>
}
